*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    background-color: rgba(10, 10, 10);
    background-image: url(artistic-blurry-colorful-wallpaper-background.jpg);
    
}

h1{
    cursor: default;
}
.header{
    max-width: 1355px;
    margin: 30px auto ;
    background-color: rgba(19, 18, 18,0.2);
    border: 1px solid rgba(122, 122, 122, 0.3);
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    padding: 10px 60px;
    border-radius: 50px;
    font-family: VT323;
    font-size: x-large;
    font-weight: normal;
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.nav__ul{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    list-style: none;
    font-family: Teko;
}
.ul__li{
    text-align: center;
    align-content: center;
    position: relative;
    list-style: none;
    font-family: Teko;
    font-weight: normal;
    font-size:x-large;
    padding: 0 10px;
    margin: 0 5px;
    cursor: pointer;
}
.ul__li:hover{
    color:white;
}
.ul__li::after{
    content: "";
    position: absolute;
    background-color: rgb(33, 163, 163);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 2px;
    transition: width .5s ease;
}
.ul__li:hover::after{
    width: 100%;
}

.main{
    width: 100vw;
}

.contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 150px;
    max-width: 1000px;
    margin: 0 auto;
}

.proyecto{
    max-width: 1000px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 7px;
    background-color: rgba(19, 18, 18,0.2);
    border: 1px solid #2b364a;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: white;
    position: relative;
}

.proyecto:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px 2px #21a3a3;
}

.proyecto::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.proyecto h2{
    font-family: Teko;
    font-weight: normal;
    font-size: xxx-large;
}
.contenedor-imagen{
    display: block;
}
.proyecto__carrete_imagenes{
    max-width: 600px;
}

.footer-proyecto{
    display: flex;
    justify-content: space-evenly;
    font-family: Teko;
}

.proyecto__footer{
    margin-top: 10px;
}

.proyecto__footer__ul{
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    list-style: none;
    font-family: Teko;
    font-size: large;
    letter-spacing: 2px;
}

.ul_footer__item{
    margin: 5px;
    padding: 0 4px;
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul_footer__item p{
    margin-left: 5px;
}

.ul_footer__item:hover{
    filter: brightness(0.85);
}

.footer_icono{
    width: 24px;
    height: 24px;
}

.footer_git{
    width: 32px;
    height: 32px;
}

.icono-c{
    background-color:cadetblue ;
}

.icono-linux{
    background-color: yellow;
    color: black;
}

.icono-vb{
    background-color: #2d93d4;
}
.icono-htop{
    background-color: #5c815a;
}
.icono-pandas{

}

.icono-sql{

}

.footer{
    height: 100px;
    background-color: white;
}

